*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(192, 235, 235, 0.541);
}
img{
    width: 120px;
}

.menu{
    display: flex;
    align-items: center;
}
.change{
    opacity: 5%;
}
.mid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tele{
    text-decoration: none;
    background-color: rgba(0, 0, 255, 0.623);
    color: white;
}
#form{
    margin: 50px auto;
    width: 30rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    border-color: rgba(128, 128, 128, 0.26);
    box-shadow: 5px 10px 18px #888888;
}
.wid{
    width: 95%;
    height: 25px;
    margin-bottom: 5px;
}
.sub{
    width: 10rem;
    height: 2rem;
    margin-top: 40px;
    font-weight: bold;
    background-color: rgba(86, 153, 131, 0.603);
    border: 1px;
    border-radius: 3px;
}
label{
    margin: 10px auto;
}
span{
    margin: 11px;
}
.one{
    margin: 15px ;
}
.short{
    font-weight: lighter;
    font-size: small;
    color: rgba(128, 128, 128, 0.486);
    margin: 1;
}
.car{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(192, 235, 235, 0.541);
    padding: 15px;
}
.elon{
    width: 350px;
}
.box{
    width: 400px;
    height: 500px;
}
.mentor{
    text-align: center;
    background-color: rgba(192, 235, 235, 0.541);
}
.dis{
    margin: 11px;
    text-align: center;
    width: 250px;
}
#jk{
    background-color: rgba(192, 235, 235, 0.541);
}
footer{
    background-color: rgba(192, 235, 235, 0.541);
    display: flex;
    height: 50px;
    justify-content: center;
}
/* .five{
    position: absolute;
    right: 15px;
} */

